<div id="main-content-container">
  <div id="main-content">
    <% if @posts.any? %>
      <ul>
        <% @posts.each do |post| %>
          <li class="posts">
            <section class="post-box">
              <p class="image"><%= image_tag post.image.url(:medium) %></p>
              <article class="post-text-box">
                <p class="email"><% if post.user %><%= post.user.email %><% end %></p>
                <% if user_signed_in? %>
                  <% if post.user == current_user %>
                    <p class="delete-link"><%= link_to 'Delete', post_path(post), method: :delete %></p>
                  <% end %>
                  <p class="buy-link"><%= link_to 'Buy', new_post_charge_path(post) %></p>
                  <p class="likes-section"><%= link_to image_tag("/images/heart.png", :alt => 'heart-logo', :class => 'heart-logo'), post_likes_path(post), class: 'likes-link' %> <span class="likes_count"><%= post.likes.count %> </span> liked this.</p>
                  <p class="comment-link"><%= link_to "Comment", new_post_comment_path(post) %></p>
                <% end %>
                <article class="comment_list"><% if post.comments.any? %>
                  <ul>
                    <% post.comments.each do |comment| %>
                      <li class="comment-content">
                        <span class="email"><% if comment.user %><%= comment.user.email%><% end %></span> : <%= comment.content %><% if comment.user == current_user %>   <%= link_to image_tag('/images/delete.png', :alt => 'delete-logo', :class => 'delete-logo'), comment_path(comment), method: :delete %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
                </article>
              </article>
            </section>
          </li>
        <% end %>
      </ul>
    <% else %>
      No posts yet.
    <% end %>
  </div>
</div>