
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <title>Instagram</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <section id="header-bar">
          <h3 id="title"><a href='/'>Sardinegram</a></h3>
          <article id="right-nav" >
            <ul>
              <% if user_signed_in? %>
               <li class="nav-link"><a href='/posts/new'>Post</a></li>
                <li class="nav-link"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li class="nav-link"><%= link_to "Sign up", new_user_registration_path %></li>
                <li class="nav-link"><%= link_to "Log in", new_user_session_path %></li>
                <li class="nav-link"><%= link_to "Log in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
              <% end %>
            </ul>
          </article>
        </section>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="row marketing">
        <div class="col-lg-6">
          <%= yield %>
        </div>
      </div>

      <div class="footer">
        <p>&copy; MadameSardine 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
     <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>

